name: Data Updation
on:
  schedule:
      # Runs at the end of every day
      - cron: '0 0 * * *'
  workflow_dispatch:

jobs:     
  job_1:
    name: data-addition
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-python@v3
          with:
            python-version: '3.8'
        - run: python -m pip install -r requirements.txt
        - run: python extract_data.py ${{ secrets.YOUTUBE_API }} ${{ github.workspace }}
